<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
           <meta charset="utf-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
           <title>Apollo Cafe</title>
           <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
           <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
           <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
           <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
           <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        </head>
<body>
   <div class="header_section">
      <div class="container-fluid">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('admin_index') }}">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('admin_coffees') }}">Coffees</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('admin_panel') }}">Admin Panel</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('admin_orders') }}">Customer Orders</a>
                    </li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="login_bt">
                        <ul>
                            <li><a href="{{ url_for('logout') }}"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Logout</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
      </div>
   </div>


   <div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Product ID</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Delivery Time</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.user_id }}</td>
                    <td>{{ order.productId }}</td>
                    <td>{{ order.size }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.deliveryTime }}</td>
                    <td>{{ order.date_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
      
    